.social {
  padding: 20px;
  background: url(../images/socialbg2.jpg);
  background-size: cover;
  height: calc(100% + 100px) !important;
}
.col-4.instagram {
  margin-top: 10px;
}
.socialtext {
  margin-top: 50px !important;
}
